/* vars for copied styles */
:root {
  /* color set 1 */
  --color0: #413c58;
  --color1: #a3c4bc;
  --color2: #bfd7b5;
  --color3: #e7efc5;
  --color4: #f2e7c9;
  /* color set 2 */
  --color5: #2f2d2e;
  --color6: #41292c;
  --color7: #792359;
  --color8: #d72483;
  --color9: #fd3e81;
  /* font settings */
  --fontFamily: Arial, Helvetica, sans-serif;
}

/* universal styles */
/* * {} */

/* html {} */

body {
  background: var(--color5);
  display: grid;
  grid-template-areas:
    "header nav"
    "clock clock"
    "footer footer";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr .5fr;
  gap: 5px;
  padding: 5px;
  height: 100vh;
  overflow: hidden;
}

/* header styles */
header {
  /* lettering */
  color: var(--color9);
  font-family: var(--fontFamily);
  /* spacing */
  grid-area: header;
  margin: auto;
}

header h1,
header nav,
header nav ul {
  /* spacing */
  padding-left: 10px;
}

header h1 {
  /* lettering */
  font-size: 3em;
  /* grid-area: header; */
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: nav;
}

ul li {
  display: inline-flex;
}

a {
  background: var(--color6);
  /* lettering */
  color: var(--color1);
  font-size: small;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  /* spacing */
  border: 1px solid var(--color7);
  border-radius: 25px;
  margin: 0px 5px;
  padding: 5px 15px 5px;
  width: 75px;
}

a:visited {
  color: var(--color1);
}

a:hover {
  background: var(--color7);
  color: var(--color9);
}

/* main styles */
main {
  border: 2px solid var(--color4);
  color: #fff;
  display: grid;
  grid-area: clock;
  grid-template-areas: "qset clock bal";
  grid-template-columns: 1fr 6fr 1fr;
  gap: 5px;
}

/* aside styles */
aside {
  border: 1px solid var(--color7);
  color: #fff;
  grid-area: qset;
}

.clock {
  grid-area: clock;
  text-align: center;
  margin: auto;
  font-size: 25em;
}

.balance {
  grid-area: bal;
}

/* footer styles */
footer {
  border: 1px solid var(--color7);
  color: #fff;
  grid-area: footer;
  position: fixed;
  bottom: 0px;
}

